[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/EhsanFortuna
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/EhsanFortuna
	label-Verified = -1..+1 group user/EhsanFortuna
	push = group user/EhsanFortuna
	read = group user/EhsanFortuna
	rebase = group user/EhsanFortuna
	removeReviewer = group user/EhsanFortuna
	submit = group user/EhsanFortuna
[access "refs/heads/*"]
	create = group user/EhsanFortuna
	push = +force group user/EhsanFortuna
	pushMerge = group user/EhsanFortuna
	read = group user/EhsanFortuna
[access "refs/tags/*"]
	push = group user/EhsanFortuna
	push = +force group user/EhsanFortuna
